/* 

.MuiBox-root {
  width: 40px;
  float: right;
  margin-bottom: 50px;
}

.css-66gjpw-MuiResponsiveChart-container {
  margin-bottom: 50px;
}
.css-apqrd9-MuiTableBody-root {
  max-width: 400px;
}
.css-heg063-MuiTabs-flexContainer {
  justify-content: space-around;
} */